<div class="myContainer">
  
<nav class="relative flex h-10 w-auto m-2 p-2 bg-slate-500">
  <ul class="flex h-4">
    <li class="h-3 w-3 mx-3 p-1">Home</li>
    <li class="h-3 w-3 mx-3 p-2">About</li>
    <li class="h-16 w-3 mx-3 p-2">Docs1</li>
  </ul>

</nav>


</div>





<!-- will use it again-->
<!-- 
<main class="game">
  
  <div>
    <input type="button" (click)="spinWheel()" value=" Spin Wheel" />
  </div>
  <div *ngIf="namedata.collection.length>0 && questionData.collection.length>0; else elseBlock">
    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg">
        <ngx-wheel #wheel [width]="400" [height]="400" [spinDuration]="4" [items]="wheelContentItems" [innerRadius]="20"
          [spinAmount]="10" [textOrientation]="textOrientation" [textAlignment]="textAlignment"
          pointerStrokeColor="black" pointerFillColor="gold" [idToLandOn]="idToLandOn" (onSpinStart)="before()"
          (onSpinComplete)="after()"></ngx-wheel>
      </div>
    </div>
    <div class="questionPopup" name="divquestionPopup" visible=[isQuestionVisible]>
      {{questionToDisplay}}
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="gameOver">
      <h2> Game Over!</h2>
    </div>
  </ng-template>
</main> -->