<div>
  <input type="button" (click)="spinWheel()" value=" Spin Wheel" />
</div>
<div *ngIf="data.length>0; else elseBlock">


  <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">

    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg">
      <ngx-wheel #wheel [width]="400" [height]="400" [spinDuration]="4" [items]="items" [innerRadius]="20"
        [spinAmount]="10" [textOrientation]="textOrientation" [textAlignment]="textAlignment" pointerStrokeColor="black"
        pointerFillColor="gold" [idToLandOn]="idToLandOn" (onSpinStart)="before()"
        (onSpinComplete)="after()" ></ngx-wheel>
    </div>
  </div>
  </div>

  <ng-template #elseBlock>
    <h1> Game Over!</h1>
  </ng-template>