<div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh">
    <!-- <p>items works!</p>
    <p>{{inputQuestion}}</p> -->
    <div>
        <table>
            <tr>
                <th></th>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Save</th>
            </tr>
            <tr>
                <td><label>Enter Name : </label></td>
                <!-- <td><input type="text" name="inputNameId" [(ngModel)]="inputNameId" disabled/></td> -->
                <td><input type="text" name="inputName" [(ngModel)]="inputName"/></td>                
                <td><input type="button" value="Save Name" (click)="saveName()" style="background-color: chartreuse;"/></td>
            </tr>
        </table>

        <table>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Edit Question</th>
                <th>Delete Question</th>
            </tr>
            <tr *ngFor="let name of namesList.collection">
                <td>{{name.id}}</td>
                <td>{{name.value}}</td>
                <td><input type="button" (click)="editName(name)" value="Edit Question" /></td>
                <td><input type="button" (click)="deleteName(name)" value="Delete Question" /></td>
            </tr>
        </table>
    </div>
</div>